{:default 
 {:graphql {:port 6300
            :host "http://localhost"}
  :ipfs {:host "http://127.0.0.1:5001"
         :endpoint "/api/v0"
         :gateway "http://127.0.0.1:8080/ipfs"}
  :logging {:level "debug"
            :console? true}}}
